<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/output.css">
  <title>My Favorite Movies</title>
</head>
<body class="bg-gray-300">
    <!-- NavBar -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
        <div class="flex items-center text-white">
            <a href="#">
                <h1 class="title font-bold text-xl">My Favorite Movies</h1>
            </a>
        </div>
        <div>
          <li><a href="/">Home</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>

      <!--  MOVIE CARD  -->

     {{{body}}}

</body>
</html>